In [34]:
import pandas as pd
iceCream_data = pd.read_csv('icecreams_sales.csv')
iceCream_data

    Temperature (F) Ice Crean Flavor Day of the Week  Sales (in cones)
0                 7        Chocolate          Monday                11
1                 9          Vanilla       Wednesday                27
2                 5       Strawberry          Friday                14
3                 8             Mint         Tuesday                 6
4                 6          Vanilla        Thursday                23
5                10       Strawberry       Wednesday                18
6                 9        Chocolate          Friday                 4
7                 7             Mint          Monday                15
8                 5       Strawberry         Tuesday                28
9                 7        Chocolate        Thursday                25
10                5          Vanilla          Monday                12

In [35]:
iceCream_data.shape

(11, 4)

In [24]:
iceCream_data.describe()

       Temperature (F)  Sales (in cones)
count        11.000000         11.000000
mean          7.090909         16.636364
std           1.758098          8.273726
min           5.000000          4.000000
25%           5.500000         11.500000
50%           7.000000         15.000000
75%           8.500000         24.000000
max          10.000000         28.000000

In [36]:
iceCream_data.values

array([[7, 'Chocolate', 'Monday', 11],
       [9, 'Vanilla', 'Wednesday', 27],
       [5, 'Strawberry', 'Friday', 14],
       [8, 'Mint', 'Tuesday', 6],
       [6, 'Vanilla', 'Thursday', 23],
       [10, 'Strawberry', 'Wednesday', 18],
       [9, 'Chocolate', 'Friday', 4],
       [7, 'Mint', 'Monday', 15],
       [5, 'Strawberry', 'Tuesday', 28],
       [7, 'Chocolate', 'Thursday', 25],
       [5, 'Vanilla', 'Monday', 12]], dtype=object)

In [44]:
import pandas as pd
iceCream_data = pd.read_csv('icecreams_sales.csv')
X = iceCream_data.drop(columns=['Sales (in cones)'])
X

    Temperature (F) Ice Crean Flavor Day of the Week
0                 7        Chocolate          Monday
1                 9          Vanilla       Wednesday
2                 5       Strawberry          Friday
3                 8             Mint         Tuesday
4                 6          Vanilla        Thursday
5                10       Strawberry       Wednesday
6                 9        Chocolate          Friday
7                 7             Mint          Monday
8                 5       Strawberry         Tuesday
9                 7        Chocolate        Thursday
10                5          Vanilla          Monday

In [45]:
import pandas as pd
iceCream_data = pd.read_csv('icecreams_sales.csv')
X = iceCream_data.drop(columns=['Sales (in cones)'])
y = iceCream_data['Sales (in cones)']
y

0     11
1     27
2     14
3      6
4     23
5     18
6      4
7     15
8     28
9     25
10    12
Name: Sales (in cones), dtype: int64

In [55]:
import pandas as pd
from sklearn.linear_model import LinearRegression

df = pd.DataFrame({
    'Day of Week': ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
    'Temperature (F)': [10, 7, 6, 8, 9],
    'Sales': [11, 28, 23, 18, 27]
})

X = df[['Temperature (F)']]
y = df['Sales']

reg = LinearRegression().fit(X, y)

print(reg.predict([[8]])) 
print(reg.predict([[6]]))

[21.4]
[26.4]

C:\Users\hamze\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\hamze\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(